.header
  .header__top
    .header__top__logo hoge
    .header__top__list
      - if user_signed_in?
        .header__top__list__in
          USER:
          = current_user.nickname
          
          %a.mypage{:href => "/users/#{current_user.id}"} マイページ
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post{:href => "/home/new"} 投稿する
      - else
        .header__top__list__out
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'post'
  .header__bottom
    %p.header__bottom__left 中央