= render 'shared/header'

.main
  .main__flame
    - @racket.each do |racket|
      .main__flame__box
        .main__flame__box__image{:style => "background-image: url(#{racket.image});"}
        .main__flame__box__detail
          %a{:href => ""}
          %span 投稿者：
          = racket.user.nickname
          = simple_format(racket.text)
          %p
            = link_to '詳細', "/home/#{racket.id}", method: :get
          - if user_signed_in? && current_user.id == racket.user_id
            .more
              %span
              %ul.more_list
                %i.fas.fa-cog
                %li
                  = link_to '編集', "/home/#{racket.id}/edit", method: :get
                %i.fa.fa-trash{"aria-hidden" => "true"}
                %li
                  = link_to '削除', "/home/#{racket.id}", method: :delete
    = paginate(@racket)


