= render 'shared/header'

.main
  .main__flame
    - @racket.each do |racket|
      .main__flame__box
        .main__flame__box__image{:style => "background-image: url(#{racket.image});"}
        .main__flame__box__detail
          %span.name= racket.name
          = simple_format(racket.text)
    = paginate(@racket)
        