= render 'shared/header'
.main-show
  .main-show__box
    .main-show__box__detail 
      %p.main-show__box__detail__box
        %span.main-show__box__detail__box__text 投稿者：
        = @racket.user.nickname 
      %p.main-show__box__detail__box
        %span.main-show__box__detail__box__text ラケット：
        = @racket.name
      %p.main-show__box__detail__box
        %span.main-show__box__detail__box__text ラバー（表）：
        = @racket.rubber 
      %p.main-show__box__detail__box
        %span.main-show__box__detail__box__text ラバー（裏）：
        = @racket.rubber_back 
      %p.main-show__box__detail__box
        %span.main-show__box__detail__box__text その他：
        -# = @racket.text 
      %p.main-show__box__detail__comment-box
        %span.main-show__box__detail__box__text コメント：
        = @racket.text 
      -# .main__flame__box__detail__bottom
      -#   %span.main__flame__box__detail__bottom__btn
        -# = link_to '編集', "/home/#{racket.id}/edit",
        -# %i.fa.fa-trash{"aria-hidden" => "true"}
        -# %span.main__flame__box__detail__bottom__btn
        -# = link_to '削除', "/home/#{racket.id}", method: :delete

    
    .main-show__box__right
      .main-show__box__right__image{:style => "background-image: url(#{@racket.image});"}
      .main-show__box__right__score
        = high_chart("sample", @racket_score)